<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Datos.Properties.Settings.LaboratorioDb" connectionString="Server=local;Database=Laboratorio_clinico;Trusted_Connection=True" />
    </connectionStrings>
</configuration>